<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Portfolio</h4>
                <p>Sinh viên năm cuối chuyên nghành công nghệ phần mềm</p>
            </div>

            <div class="footer-section">
                <h4>Link Nhanh</h4>
                <ul>
                    <li><a href="#home">Trang Chủ</a></li>
                    <li><a href="#about">Về Tôi</a></li>
                    <li><a href="#projects">Dự Án</a></li>
                    <li><a href="#contact">Liên Hệ</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>Theo Dõi Tôi</h4>
                <div class="footer-social">
                    <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/Teguyn" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.facebook.com/teguyn" target="_blank"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 Portfolio. Tất Cả Quyền Lợi Được Bảo Lưu. | Thiết Kế Bởi <a href="#">Hồ Xuân Nguyên</a></p>
        </div>
    </div>
</footer>
